/* Structure */
.example-container {
    position: relative;
  }
  
  .example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  mat-header-cell {
    display:flex;
    justify-content:center!important;;
   }
   .list-item button .material-icons {
    font-size: 16px;
    padding: 0;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }

  mat-header-cell, mat-cell {
    justify-content: center;
  }

  .filter-row{
    padding-left: 20px;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin: 8px;
  }

  .highlight{
    background: #e0e6e2; /* green */
  }

  mat-icon {
    cursor: pointer;
  }
  